<h1>Election: <%= @election.title %></h1>
<% if !(@election.choices.empty?) %>
  <p>Choices to vote for:<p>
  <ol>
    <%= form_tag(vote_elections_path(action: "vote"), method: 'post') do %>
      <% @election.choices.each do |choice| %>
        <li><%= radio_button :elections_controller, :vote, choice.name, {choice: :choice_id, method: 'post'} %> <%= choice.name %> </li>
      <% end %>
      <br/>
      <%= hidden_field_tag "election_title", @election.title %>
      <%= submit_tag "Submit Vote" %>
      <% end %>
  </ol>
<% end %>
<% if !(@election.users.empty?) %>
  <p>Voters in election:<p>
  <ol>
  <% @election.users.each do |participant| %>
    <li><%= participant.email %></li>
  <% end %>
  </ol>
<% end %>
